* {
    margin: 0;
    padding: 0;
}

header {
    background-color:#333;
    text-align: center;
    padding: 20px; 
 
}

header h1 {
    color:white;
    font-size: 30px;
    margin-bottom: 10px;
}
 
nav a {
    color: white;
    font-weight: bold;
    margin: 0 10px;
}

nav a:hover{
    color:#575353
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.about-container {
    display: flex; 
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    flex-wrap: wrap;             
}

.about-text {
    flex: 1;                     
    min-width: 250px;            
}

.about-image {
    flex: 1;                      
    text-align: center;           
}

.about-image img {
    max-width: 250px;          
    border-radius: 0;              
}


section {
    background-color: white;
    margin: 20px auto;
    padding:  20px;
    max-width: 800px;
}

section h2 {
    color: #222;
    margin-bottom: 20px;

}

section p { 

    font-size: 18px;
    color: #555;
    line-height: 1.6;
} 



.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.skill-card {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    transition: transform 0.3s;
}

.skill-card:hover {
    transform: translateY(-5px);
}

.skill-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}


#projects a {
    color: #7193b3;
    text-decoration: none;
    font-weight: bold;
}

#projects a:hover {
    text-decoration: underline;
}

#contact {
    margin: 20px 0;      
    padding: 0;          
}
#contact p {
    margin: 5px 0;        
}

#contact a {
    color: #7193b3;
    text-decoration: none;
    font-weight: bold;
}

#contact a:hover {
    text-decoration: underline;
}


footer{
    background-color: #333;     
    color: #fff;                
    text-align: center;          
    padding: 15px 0;             
    margin-top: 50px;            
}

footer a {
    color: #4280b9; 
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}