header {
    background-color:#333;
    text-align: center;
    padding: 20px; 
 
}

header h1 {
    color:white;
    font-size: 30px;
    margin-bottom: 10px;
}
 
* {
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    font-weight: bold;
    margin: 0 10px;
}

nav a:hover{
    color:#575353
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

section {
    background-color: white;
    margin: 20px auto;
    padding:  20px;
    max-width: 800px;
}

section h2 {
    color: #222;
    margin-bottom: 20px;

}

section p { 

    font-size: 18px;
    color: #555;
    line-height: 1.6;
} 
section ul{
    list-style-type: disc;
    padding-left: 20px;
 } 
section li {
    margin-bottom: 10px; 
 }